{% extends 'blog\base.html' %}

{% load staticfiles %}
{% block title %}个人详细信息{% endblock %}



{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>编辑我的信息</h1>
        <div class="row">
            <!--用户名-->
            <div class="col-md-6">
                <form enctype="multipart/form-data" class="form-horizontal" action="." method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 text-right"><span>用户名：</span></div>
                        <div class="col-md-8 text-left">{{ user.username }}</div>
                    </div>
                    <!--邮箱-->
                    <div class="row">
                    <div class="col-md-4 text-right"><span>邮箱：</span></div>
                    <div class="col-md-8 text-left">{{ user_form.email }}</div>
                </div>
                    <!--生日-->
                    <div class="row">
                        <div class="col-md-4 text-right"><span>生日：</span></div>
                        <div class="col-md-8 text-left">{{ userprofile_form.birth }}</div>
                    </div>
                    <!--电话-->
                    <div class="row">
                        <div class="col-md-4 text-right"><span>电话：</span></div>
                        <div class="col-md-8 text-left">{{ userprofile_form.phone }}</div>
                    </div>
                    <!--学校-->
                    <div class="row">
                        <div class="col-md-4 text-right"><span>学校：</span></div>
                        <div class="col-md-8 text-left">{{ userinfo_form.school }}</div>
                    </div>
                    <!--地址-->
                    <div class="row">
                        <div class="col-md-4 text-right"><span>地址：</span></div>
                        <div class="col-md-8 text-left">{{ userinfo_form.address }}</div>
                    </div>
                    <!--公司-->
                    <div class="row">
                        <div class="col-md-4 text-right"><span>公司：</span></div>
                        <div class="col-md-8 text-left">{{ userinfo_form.company }}</div>
                    </div>
                    <!--专业-->
                    <div class="row">
                        <div class="col-md-4 text-right"><span>专业：</span></div>
                        <div class="col-md-8 text-left">{{ userinfo_form.profession }}</div>
                    </div>
                    <!--关于我-->
                    <div class="row">
                        <div class="col-md-4 text-right"><span>关于我：</span></div>
                        <div class="col-md-8 text-left">{{ userinfo_form.aboutme }}</div>
                    </div>
                    <!--关于我-->
                    <div class="row">
                        <input type="submit" value="submit" class=" btn btn btn-primary btn-lg">
                    </div>
                </form>
            </div>
            <!--<div class="col-md-6">-->
                <!--<p>picture</p>-->
            <!--</div>-->
        </div>
    </div>

{% endblock %}

</title>
</head>
<body>

</body>
</html>