{% extends 'blog\base.html' %}

{% load staticfiles %}
{% block title %}个人详细信息{% endblock %}



{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>个人详细信息</h1>
        <div class="row">
            <!--用户名-->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 text-right"><span>用户名：</span></div>
                    <div class="col-md-8 text-left">{{ user.username }}</div>
                </div>
                <!--邮箱-->
                <div class="row">
                    <div class="col-md-4 text-right"><span>邮箱：</span></div>
                    <div class="col-md-8 text-left">{{ user.email }}</div>
                </div>
                <!--生日-->
                <div class="row">
                    <div class="col-md-4 text-right"><span>生日：</span></div>
                    <div class="col-md-8 text-left">{{ userprofile.birth }}</div>
                </div>
                <!--电话-->
                <div class="row">
                    <div class="col-md-4 text-right"><span>电话：</span></div>
                    <div class="col-md-8 text-left">{{ userprofile.phone }}</div>
                </div>
                <!--学校-->
                <div class="row">
                    <div class="col-md-4 text-right"><span>学校：</span></div>
                    <div class="col-md-8 text-left">{{ userinfo.school }}</div>
                </div>
                <!--地址-->
                <div class="row">
                    <div class="col-md-4 text-right"><span>地址：</span></div>
                    <div class="col-md-8 text-left">{{ userinfo.address }}</div>
                </div>
                <!--公司-->
                <div class="row">
                    <div class="col-md-4 text-right"><span>公司：</span></div>
                    <div class="col-md-8 text-left">{{ userinfo.company }}</div>
                </div>
                <!--专业-->
                <div class="row">
                    <div class="col-md-4 text-right"><span>专业：</span></div>
                    <div class="col-md-8 text-left">{{ userinfo.profession }}</div>
                </div>
                <!--关于我-->
                <div class="row">
                    <div class="col-md-4 text-right"><span>关于我：</span></div>
                    <div class="col-md-8 text-left">{{ userinfo.aboutme }}</div>
                </div>
                <div class="row">
                    <a href="{% url 'account:my_information_edit' %}"><button class="btn btn-primary btn-lg">修改个人详细信息</button></a>
                </div>
            </div>
            <div class="col-md-6">
                <div style="margin-right: 100px">
                    {% if userinfo.photo %}
                    <img src="{{ userinfo.photo | striptags }}" alt="头像" class="img-circle" id="my_photo" name="user_face">
                    {% else %}
                    <img name="user_face" src="{% static 'common/img/张三.jpg' %}" alt="touxiang"  class="img-circle" id="my_photo">
                    {% endif %}
                </div>
                <!--&lt;!&ndash;<p>picture</p>&ndash;&gt;-->
                <!--<div style="margin-right: 100px">-->
                    <!--<img name="user_face" src="{% static 'common/img/张三.jpg' %}" alt="头像" class="img-circle"-->
                    <!--width="200px" id="my_photo">-->
                <!--</div>-->
                <div style="margin-right: 100px">
                    <button class="btn btn-primary btn-lg" id="upload_image" onclick="upload_image_layer()">
                        upload my photo
                    </button>

                </div>
            </div>
        </div>
    </div>


<script type="text/javascript" src="{% static 'common/js/layer.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'common/js/layer.js' %}"></script>-->
<script>
    function upload_image_layer(){
        layer.open({
            title:"上传头像",
            area:['650px','600px'],
            type: 2,
            content: "{% url 'account:my_image' %}",
        })
    }

</script>
{% endblock %}

