{% extends 'blog/base.html' %}


{% block title %}password reset{% endblock %}

{% block content %}
    <div>
        <p>
            You are receiving this email because you requested a password reset
            for your user account <a href="http://www.itdiffer.com">itdiffer.com</a>
        </p>
        <p>
            Please go to the following page and choose a new password:
        </p>

        {{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
        <p>Your username, in case you are forgetten:{{ user.get_username }}</p>
        <p>Thanks for using our site</p>
        <p></p>
    </div>

{% endblock %}