{% extends 'blog/base.html' %}


{% block title %}password reset done{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>Reset your password.</h1>
        <p>
            We've emailed you insstructions for setting your password,
            if an account exists with the email you entired.
            You should receive them shortly
        </p>
        <p>
            If you don not receive an email ,Please make sure you are entered
            the address you registered with, and check your spam folder
        </p>
    </div>


{% endblock %}